
.header-container {
	padding-left: 20%;
	background-color: #4ebdef;
	height: 200px;
}
.header-container * {
	color: #fff;
}
#mainContent {
	margin: 0 0 !important;
	padding: 25px 10%;
	text-align: center;
}
#mainContent>div>div {
	border: 1px #b6deee solid;
	border-radius: 10px;
	background: #a5e2fa;
	padding: 10px;
	font-size: 16px;
	line-height: 25px;
}
#mainContent>div>div>h2 {
	padding-bottom: 10px;
}
#desperation {
	max-width: 68rem;
	padding: 2rem 6rem;
	margin: 0 auto;
}
#homeBillboard .el-card__header>div>span {
	font-size: 1.9em;
}



h1 {
	font-size: 4.7em;
}
html {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
body {
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
code {
	border-radius: 5px;
	border: 1px solid #cde7f5;
	/*cadetblue;*/
}
.el-card {
	height: 21em;
}
.el-card>.el-card__body {
	height: 14.5em;
}
#nav-menu {
	padding: 0px 12.5%;
	background: rgb(239, 243, 246);
}


